.login {border-radius: 10px;background: #000518;padding: 16px; width: 100%; display: flex; flex-wrap: wrap;}
.login .background-img { width: 44%; display: flex; align-items: center; justify-content: center; }
.login .background-img .img-fluid { position: relative; width: 100%; min-height: calc(100vh - 32px); max-height: calc(100vh - 32px); object-fit: cover; border-radius: 20px; }
.login .login-form { width: 56%; padding: 69px 78px 0; display: flex; flex-direction: column;position: relative;}

.login h1 {background: linear-gradient(92deg, #5376FF -3.68%, #A04DFF 118.81%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: Quicksand; text-align: center; font-size: 30px; font-style: normal; font-weight: 700; line-height: normal; margin: 0; position: absolute; left: 0; right: 0; top: 69px;}

.form_middle{max-width: 564px;width: 100%;margin: auto;padding: 40px 0;}
.login h3{color: #FFF; text-align: center; font-family: Poppins; font-size: 40px; font-style: normal; font-weight: 600; line-height: 50px;text-transform: capitalize;position: relative;padding-bottom: 39px;margin: 0 0 40px;}

.login h3:after{border-radius: 30px; background: #9054D9; width: 104px; height: 2px; content: ""; position: absolute; left: 0; right: 0; margin: auto; bottom: 0;}
.input_container{margin-bottom: 30px;position: relative;}
.input_container .form-control{border-radius: 10px; background: #080F2C;color: #FFF; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 700; line-height: 15px;  text-transform: lowercase;height: 60px;padding: 10px 27px;border: none;outline: none;box-shadow: none;}

.passwaord-icon{position: relative;}
.password-toggle-icon { position: absolute; right: 24px; bottom: 17px; cursor: pointer;}
.input_container ::-ms-input-placeholder { color: #a1a1a1; } 
.input_container ::placeholder { color: #a1a1a1;}

.input_container .input_label {color: rgba(255, 255, 255, .8) ; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; line-height: 15px; text-transform: capitalize; margin: 0 0 7px;}

@media (max-width:1370px){
    .login h1{top: 59px;}
    .login .background-img{width: 50%;}
    .login .login-form{width: 50%;}
    .login .login-form{ padding: 39px 48px 0;}
    .login h3{font-size: 32px;padding-bottom: 25px; margin: 0 0 30px;}
}

@media (max-width:1024px){
    .login{flex-direction: column-reverse;justify-content: space-between;}
    .login .background-img{width: 100%;}
    .login .login-form{width: 100%;}  
    .login .background-img .img-fluid{min-height: auto;  max-height: 500px;}
    .login .login-form { padding: 20px 0 0; margin:0 0 20px;}
    .login h1{top: 0;position: relative;}
    .form_middle{padding: 20px 0 30px;}
    .login h3 { font-size: 28px; padding-bottom: 15px; margin: 0 0 25px; }
    
}

@media (max-width:767px){
    .login h1{    font-size: 24px;}
    .login h3 { font-size: 24px; padding-bottom: 10px; margin: 0 0 20px; }
    .input_container .form-control{height: 50px; padding: 8px 20px;font-size: 14px;}
    .password-toggle-icon{ right: 15px; bottom: 14px;}
    .password-toggle-icon svg { width: 20px;   height: 20px;}


}