.login {border-radius: 10px;background: #000518;padding: 16px; width: 100%; display: flex; flex-wrap: wrap;}
.login .background-img { width: 44%; display: flex; align-items: center; justify-content: center; }
.login .background-img .img-fluid { position: relative; width: 100%; min-height: calc(100vh - 32px); max-height: calc(100vh - 32px); object-fit: cover; border-radius: 20px; }
.login .login-form { width: 56%; padding: 69px 78px 0; display: flex; flex-direction: column;position: relative;}

.login h1 {background: linear-gradient(92deg, #5376FF -3.68%, #A04DFF 118.81%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: Quicksand; text-align: center; font-size: 30px; font-style: normal; font-weight: 700; line-height: normal; margin: 0; position: absolute; left: 0; right: 0; top: 69px;}

.form_middle{max-width: 564px;width: 100%;margin: auto;padding: 40px 0;}
.login h3{color: #FFF; text-align: center; font-family: Poppins; font-size: 40px; font-style: normal; font-weight: 600; line-height: 50px;text-transform: capitalize;position: relative;padding-bottom: 39px;margin: 0 0 40px;}

.login h3:after{border-radius: 30px; background: #9054D9; width: 104px; height: 2px; content: ""; position: absolute; left: 0; right: 0; margin: auto; bottom: 0;}
.input_container{margin-bottom: 30px;position: relative;}
.input_container .form-control{border-radius: 10px; background: #080F2C;color: #FFF; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 700; line-height: 15px;  text-transform: lowercase;height: 60px;padding: 10px 27px;border: none;outline: none;box-shadow: none;}

.passwaord-icon{position: relative;}
.password-toggle-icon { position: absolute; right: 24px; bottom: 17px; }
.input_container ::-ms-input-placeholder { color: #a1a1a1; } 
.input_container ::placeholder { color: #a1a1a1;}

.input_container .input_label {color: rgba(255, 255, 255, .8) ; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; line-height: 15px; text-transform: capitalize; margin: 0 0 7px;}



