.static-one {
  display: flex;
  padding: 15px; 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #000518;align-items: center;
  position: relative;min-height: 90px;;padding-left: 90px;overflow: hidden;
}
.static-svg {position: absolute; left: 15px; top: 15px; background: linear-gradient(94deg, rgba(75,105,226,.1) -2.08%, rgba(144,84,217,.1) 99.58%); width: 60px; height: 60px; border-radius: 5px; display: flex; align-items: center; justify-content: center; }

.static-par h6 {
  color: #fff;
  margin: 0px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 13px;;
}

.static-par p {
  color: #fff;
  font-family: Poppins;
  text-align: left;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;margin: 0;line-height: 25px;
}

.Static-image {
  margin: 0;
}
 
.static-data {transform: translateY(-50%); position: absolute; right: 0px; top: 50%; }