/* Stry Lsit  */

.story-list {
  margin-bottom: 33px;
}

.story-list h2 {color: #FFF; font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 600; line-height: 27px;    margin: 0 0 20px;}

.story-list p {color: #FFF; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 400; line-height: 22.5px;margin: 0 0 25px;}

.thubnail{ height: 250px;display: flex;align-items: center;justify-content: center;background: rgba(255, 255, 255, 0.1);margin: 0 0 20px;}

.btn-list { 
  padding: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

 

.btn-list button { margin: 0 22px;}

/* Story Card  */

.story-title h6 {
  color: #fff;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: normal;
}

button#noanim-tab-example-tab-boy[aria-selected="true"],
button#noanim-tab-example-tab-girl[aria-selected="true"] {
  padding: 9px;
  background: none;
  border-color: none;
  color: rgba(160, 77, 255, 0.5);
  border-bottom: 1px solid rgba(160, 77, 255, 3.5);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button#noanim-tab-example-tab-boy[aria-selected="false"],
button#noanim-tab-example-tab-girl[aria-selected="false"] {
  padding: 9px;
  background: none;
  border-color: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.story-gender p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  position: relative;
}

.story-gender p:not(.selected) {
  padding: 9px;
  margin: -1px;
  color: rgba(255, 255, 255, 0.5);
}

.story-gender p.selected {
  padding: 9px;
  margin: -1px;
  color: rgba(160, 77, 255, 0.5);
  border-bottom: 1px solid rgba(160, 77, 255, 0.5);
}

.bootom-line {
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.story-search {
  margin-bottom: 65px;
  margin-top: 20px;
  display: flex;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  width: 300px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #131c3e;
  color: white;
  border: none;
  margin-bottom: 10px;
}
.search-container input:focus {
  border: none;
  outline: none;
}

.search-container button {
  margin-left: -121px;
  margin-top: -11px;
  border: none;
  display: inline-flex;
  padding: 7px 30px;
  align-items: center;
  gap: 13px;
  border-radius: 50px;
  background: linear-gradient(94deg, #4b69e2 -2.08%, #9054d9 99.58%);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px -4px 4px 0px rgba(255, 255, 255, 0.15) inset,
    0px 4px 8px 0px rgba(103, 84, 217, 0.2) inset,
    0px -4px 16px 0px rgba(188, 133, 255, 0.2) inset;
  color: white;
  cursor: pointer;
}

 
.story-card .card {
  width: 245.5px;
  height: 316px;
  border-radius: 20px;
  background: #000518;
}

.card .card-img-top {
  width: 245px;
  height: 162px;
  border-radius: 20px;
}

.card .card-title {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

.card .card-text {
  color: #b3b3b3;
  font-family: Poppins;
  width: 213px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
}

.card .card-link {
  display: flex;
}

.card-data h6 {
  font-family: Poppins;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
  background: var(--1, linear-gradient(94deg, #4b69e2 -2.08%, #9054d9 99.58%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-data h3 {
  display: inline-flex;
  padding: 5px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
}

.card h3 span {
  color: #fff;
  font-weight: bold;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.card-data {
  display: flex;
  justify-content: center;
  margin-top: -7px;
  gap: 96px;
}

.story-sort {
  display: flex;
  margin-left: 38px;
  justify-content: center;
}

.story-sort h1 {
  color: #b3b3b3;
  font-family: Poppins;
  margin: 12px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.story-sort .select {
  width: 195px;
  height: 44px;
  border-radius: 50px;
  background: #131c3e;
  color: #fff;
  text-align: center;
}

.story-sort .select {
  width: 195px;
  height: 44px;
  border-radius: 50px;
  background: #131c3e;
  color: #fff;
  text-align: center;
}

.story-sort .select .custom-option {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  border-radius: 50px;
  background: #131c3e;
  line-height: normal;
}

.story-sort .select .custom-option {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  border-radius: 50px;
  background: #131c3e;
  line-height: normal;
}

.story-sort .select .custom-option :focus {
  outline: none;
  background: #131c3e;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .story-search {
    flex-direction: column;
  }

  .search-container {
    margin-bottom: 10px;
  }

  .select {
    width: 100%;
  }

  .custom-option {
    text-align: center;
  }
}

button#noanim-tab-example-tab-profile[aria-selected="true"],
button#noanim-tab-example-tab-password[aria-selected="true"] {
  padding: 9px;
  background: none;
  border-color: none;
  color: rgba(160, 77, 255, 0.5);
  border-bottom: 1px solid rgba(160, 77, 255, 3.5);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.profile-manage.nav-tabs .nav-link.active {
  color: none;
  background-color:none;
  border-color: none;
}
.profile-manage .nav-tabs .nav-link:focus,
.profile-manage .nav-tabs .nav-link:hover,
.profile-manage .nav-tabs .nav-link :active {
  isolation: isolate;
  border-color: none;
}

.profile-manage .nav-tabs .nav-link {
  margin-bottom: none;
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
}
.profile-manage .nav-tabs {
  color: rgba(255, 255, 255, 0.8);
}
button#noanim-tab-example-tab-profile[aria-selected="false"],
button#noanim-tab-example-tab-password[aria-selected="false"] {
  padding: 9px;
  background: none;
  border-color: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.password .input label {
  color: #b3b3b3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.password input {
  margin-bottom: 44px;
  color: white;
  outline: none;
  width: 985px;

  height: 58px;
  border-radius: 50px;
  background: #0c1229;
}

.password-old {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.password-old .container-input label {
  color: #b3b3b3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: normal;
}

.password-old .container-input input {
  width: 469px;
  height: 58px;
  color: #fff;
  flex-shrink: 0;
  outline: none;
  border-radius: 50px;
  background: #0c1229;
}

.text-submit span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-submit {
  display: table;
  padding: 15px 90px;
  margin: auto;
  border-radius: 50px;
  background: linear-gradient(94deg, #4b69e2 -2.08%, #9054d9 99.58%);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px -4px 4px 0px rgba(255, 255, 255, 0.15) inset,
    0px 4px 8px 0px rgba(103, 84, 217, 0.2) inset,
    0px -4px 16px 0px rgba(188, 133, 255, 0.2) inset;
}
