/* Stry Lsit  */
.story-list {
  margin-top: 17px;
  margin-bottom: 33px;
}
.story-list img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.story-list h2 {color: #FFF; font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 600; line-height: 27px;    margin: 0 0 10px;}

.story-list p {color: #FFF; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 400; line-height: 22.5px;margin: 0 0 25px;}

.thubnail{ height: 250px;display: flex;align-items: center;justify-content: center;background: rgba(255, 255, 255, 0.1);margin: 0 0 20px;}

.btn-list { 
  padding: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-list button { margin: 0 22px;}

/* Story Card  */

.story-title h6 {color: #FFF; text-align: left;  font-family: Quicksand; font-size: 24px; font-style: normal; font-weight: 700; line-height: normal;margin: 0 0 20px;}

.profile-manage .nav-tabs button { padding: 17px 18px;background: transparent;font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 600; line-height: normal;color: rgba(255, 255, 255, 0.5); border: none;  border-bottom: 1px solid transparent;}

.profile-manage .nav-tabs button.active, .profile-manage .nav-tabs button:hover,.profile-manage .nav-tabs button:focus {background: var(--1, linear-gradient(94deg, #4B69E2 -2.08%, #9054D9 99.58%)); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; border: none; border-bottom: 1px solid #fff; }

.story-card img {
  height: 10%;
  object-fit: cover;
  width: 100%;
}
 
.profile-manage .nav-tabs {margin: 0 0 30px;border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
.story-gender p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  position: relative;
}

.story-gender p:not(.selected) {
  padding: 9px;
  margin: -1px;
  color: rgba(255, 255, 255, 0.5);
}

.story-gender p.selected {
  padding: 9px;
  margin: -1px;
  color: rgba(160, 77, 255, 0.5);
  border-bottom: 1px solid rgba(160, 77, 255, 0.5);
}

.bootom-line {
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
 

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  width: 300px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #131c3e;
  color: white;
  border: none;
  margin-bottom: 10px;
}
.search-container input:focus {
  border: none;
  outline: none;
}

.search-container button {
  margin-left: -121px;
  margin-top: -11px;
  border: none;
  display: inline-flex;
  padding: 7px 30px;
  align-items: center;
  gap: 13px;
  border-radius: 50px;
  background: linear-gradient(94deg, #4b69e2 -2.08%, #9054d9 99.58%);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px -4px 4px 0px rgba(255, 255, 255, 0.15) inset,
    0px 4px 8px 0px rgba(103, 84, 217, 0.2) inset,
    0px -4px 16px 0px rgba(188, 133, 255, 0.2) inset;
  color: white;
  cursor: pointer;
}

 
.story-card .card {
  margin-top: 20px;
  border-radius: 20px;
  background: #000518;
}
.story-card .card-body { padding: 15px; }
.card .card-img-top {
  width: 100%;
  height: 162px;
  border-radius: 20px;
  object-fit: cover;
}

.story-card .card .card-title {
  color: #FFF;  font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 600; line-height: 27px;    margin: 0px 0 5px;}

.card .card-text {color: #B3B3B3;   font-family: Poppins; font-size: 13px; font-style: normal; font-weight: 400; line-height: 19.5px;    margin: 0 0 13px;}

.card .card-link {
  display: flex;
}

.card-data h6 { background: var(--1, linear-gradient(94deg, #4B69E2 -2.08%, #9054D9 99.58%)); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;font-family: Poppins; font-size: 13px; font-style: normal; font-weight: 400; line-height: 19.5px;}

.card-data h3 {  display: inline-flex; border-radius: 30px; background: rgba(255, 255, 255, 0.20);display: inline-flex; padding: 9px 13px; justify-content: center; align-items: center; color: #FFF; font-family: Poppins; font-size: 12px; font-style: normal; font-weight: 400; line-height:  18px; margin: 0;min-width: 68px;height: 26px;} 
.card-data {
  display: flex; align-items: center; justify-content: space-between;
}

.story-sort {
  display: flex; 
  justify-content: center;align-items: center;width: 50%; max-width: 250px;
}
.story-sort + .story-sort{margin-left: 20px;max-width: 270px;}
.story-sort h1 { color: #B3B3B3; font-family: Poppins; font-size: 13px; font-style: normal; font-weight: 500; line-height: normal;margin: 0 10px 0 0;}

.story-sort .select {background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjAwMTM2IDMuOTEwOTlMMS4xODI2NCAwLjA5MjUyOTNMMC4wOTE3OTY5IDEuMTgzM0w1LjAwMTM2IDYuMDkyNTNMOS45MTA5MiAxLjE4MzNMOC44MTkzMSAwLjA5MjUyOTNMNS4wMDA1OSAzLjkxMDk5SDUuMDAxMzZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");background-repeat: no-repeat;background-position: calc(100% - 15px) center;appearance:none;-moz-appearance: none;-webkit-appearance: none;
  border-radius: 50px; background-color: #131C3E;width: 195px; height: 44px;color: #FFF; font-family: Poppins; font-size: 13px; font-style: normal; font-weight: 500; line-height: normal;padding: 5px 16px;border: none; outline: none;    width: calc(100% - 55px);padding-right: 28px;}

.story-sort + .story-sort .select {width: calc(100% - 75px);}

.story-sort .select .custom-option {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  border-radius: 50px;
  background: #131c3e;
  line-height: normal;
}

.story-sort .select .custom-option {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  border-radius: 50px;
  background: #131c3e;
  line-height: normal;
}

.story-sort .select .custom-option :focus {
  outline: none;
  background: #131c3e;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .story-search {
    flex-direction: column;
  }

  .search-container {
    margin-bottom: 10px;
  }

  .select {
    width: 100%;
  }

  .custom-option {
    text-align: center;
  }
}

 
 
.password .input label {
  color: #b3b3b3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.password input {
  margin-bottom: 44px;
  color: white;
  outline: none;
  width: 985px;

  height: 58px;
  border-radius: 50px;
  background: #0c1229;
}

.password-old {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.password-old .container-input label {
  color: #b3b3b3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: normal;
}

.password-old .container-input input {
  width: 469px;
  height: 58px;
  color: #fff;
  flex-shrink: 0;
  outline: none;
  border-radius: 50px;
  background: #0c1229;
}

.text-submit span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-submit {
  display: table;
  padding: 15px 90px;
  margin: auto;
  border-radius: 50px;
  background: linear-gradient(94deg, #4b69e2 -2.08%, #9054d9 99.58%);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px -4px 4px 0px rgba(255, 255, 255, 0.15) inset,
    0px 4px 8px 0px rgba(103, 84, 217, 0.2) inset,
    0px -4px 16px 0px rgba(188, 133, 255, 0.2) inset;
}

/* new */
.filter-search { display: flex; justify-content: space-between; align-items: center; margin: 0 0 20px; }
.search { display: flex; width: 40%; }
.search input[type="search"]{max-width: 245px; height: 44px;border-radius: 50px; background: #131C3E;border: none;padding: 5px 15px;color: #fff;outline: none;font-size: 14px;width: calc(100% - 110px);}
.search button{ height: 44px;border: none;padding: 5px 10px;outline: none;border-radius: 50px; background: linear-gradient(94deg, #4B69E2 -2.08%, #9054D9 99.58%); box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 4px 0px rgba(255, 255, 255, 0.15) inset, 0px 4px 8px 0px rgba(103, 84, 217, 0.20) inset, 0px -4px 16px 0px rgba(188, 133, 255, 0.20) inset;color: #FFF; font-family: Poppins; font-size: 13px; font-style: normal; font-weight: 500; line-height: normal;margin-left: 3px;min-width: 106px;}

.dropdwon-filter { display: flex; width: 60%;    justify-content: end;    padding-left: 20px; }

/* profile */
.update-field { padding-top: 10px; } 
.update-field label { color: #B3B3B3; text-align: center; font-family: Poppins; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; margin: 0 0 10px; } 
.update-field .input_field { width: 100%; border-radius: 50px; background: #0C1229; border: none; height: 58px; color: #fff; font-size: 14px; padding: 5px 18px; outline: none;} 
.update-field div[class*="col-"] { margin: 0 0 30px; }

.thubnail img {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%; object-fit: cover;
  max-height: 100% !important;
}
.thubnail {
  overflow: hidden;
}

@media (max-width: 1199px){
  .story-list h2{ font-size: 16px;line-height: 22px; margin: 0 0 8px;}
  .story-list p{    font-size: 13px;line-height: 20.5px;}
}
@media (max-width: 1024px) {
.filter-search{margin: 0 0 0px;flex-wrap: wrap;}
.search{width: 100%;}
.search input[type="search"]{max-width: calc(100% - 110px);}
.dropdwon-filter{margin-top: 20px;justify-content: space-between; padding-left: 0;width: 100%;}
.profile-manage .nav-tabs button{padding: 13px 13px;font-size: 16px;}
.update-field .input_field{height: 50px;    padding: 5px 15px;}
.update-field label{font-size: 14px;}
.update-field div[class*="col-"] {  margin: 0 0 20px;}
.story-list{    margin-bottom: 23px;}
}
@media (max-width: 767px) {
  .btn-list button { margin: 0 3px;min-width: 180px;padding: 11px 18px; }
  .btn-list button + button{margin-top: 15px;}
  .btn-list{flex-direction: column;}
  .filter-search{display: block;}
  .dropdwon-filter{width: auto; margin: 20px -5px 0; justify-content: initial;}
  .story-sort{width: 50%; max-width: 50%; flex-direction: column; justify-content: start; align-items: flex-start; padding: 0 5px;}
  .story-sort + .story-sort{margin-left: 0; max-width: 50%;}
  .story-sort h1{min-width: 66px; margin: 0 0 5px 10px;}
  .story-sort .select, .story-sort + .story-sort .select{width: 100%;
    background-position: calc(100% - 12px) center;    padding-right: 26px;}
  .update-field .input_field { height: 46px; padding: 5px 15px; }
  .update-field div[class*="col-"] {  margin: 0 0 15px;}


}

 
