.sub-button.text-end { margin: 0 0 20px; }
 
.subscription-data {   border-radius: 10px; border: 1px solid rgba(255, 255, 255, 0.10); background: #131C3E;}

.sub-data { display: flex; justify-content: space-between; padding: 20px; align-items: center; }

.subscription-data h4{color: #B3B3B3;  font-family: Quicksand; font-size: 13px; font-style: normal; font-weight: 500; line-height: normal;margin: 0 0 10px;}    
.subscription-data p { color: #FFF; text-align: center; font-family: Quicksand; font-size: 20px; font-style: normal; font-weight: 700; line-height: normal;margin: 0;}
.sub-dot { border-radius: 5px; border: 1px solid #444E73;width: 30px;height: 30px;display: flex; align-items: center; justify-content: center;}

.sub-dot svg { 
    width: 20px;
    height: 20px; 
}

.sub-data {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.bottom-line {  
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.subscription-detail { padding: 20px; }
.subscription-detail ul{padding: 0;list-style: none;margin: 0;}


.subscription-detail ul li{color: #FFF; text-align: left; font-family: Quicksand; font-size: 15px; font-style: normal; font-weight: 700; line-height: normal; padding-left: 28px; position: relative; }

.subscription-detail ul li ~ li{margin: 15px 0 0;}

.subscription-detail ul li svg { position: absolute; left: 0; top: 5px; } 
.subscription-detail ul li  span{color: #B3B3B3;}



#subscription-header .modal-title {padding: 0 0 27px; color: #FFF; text-align: center; font-family: Poppins; font-size: 28px; font-style: normal; font-weight: 600; line-height: normal; border-bottom: 1px solid rgba(255, 255, 255, 0.10); max-width: calc(100% - 74px); width: 100%;}
#generat-story div#subscription-header.modal-header { padding-bottom: 32px; }
.form-group label {
    color: #B3B3B3;
    text-align: center;
    margin: 0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.form-group { margin: 0 0 30px; }
.form-data {
    display: flex;
    justify-content: space-between;
}

.form-data .form-group input[type="text"] {
    border-radius: 50px;
    width: 495px;
    margin: 5px;
    background: #0B1024;
    height: 58px;
    border: none;
    padding: 5px 32px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.form-group input[type="text"] {
    border-radius: 50px;
    width: 495px;
    margin: 5px;
    background: #0B1024;
    height: 58px;
    border: none;
    padding: 5px 32px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.form-group .data {
    margin: 20px;
}

.button {
    display: table;
    margin: auto;
    margin-top: 12px;
    padding: 15px 60px;
    border-radius: 50px;
    background: linear-gradient(94deg, #4B69E2 -2.08%, #9054D9 99.58%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 4px 0px rgba(255, 255, 255, 0.15) inset, 0px 4px 8px 0px rgba(103, 84, 217, 0.20) inset, 0px -4px 16px 0px rgba(188, 133, 255, 0.20) inset;
}

.button span{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.form-data .form-group input ::placeholder{
    color: white;
}